.createContainer {
  margin: 10px 45px;
}

.goBack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.goBack button {
  padding: 8px 20px;
  border: 2px solid #ddd;
  background: var(--green);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

.createContent h2 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
  margin: auto;
}

.formContainer h4 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  font-weight: 400;
  color: #888;
}

.formLabel {
  font-size: 14px;
}

.formFirstSection,
.formSecondSection,
.formThirdSection {
  background: #fff;
  width: 100%;
  margin: 0px 5px;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.formFirstSection {
  display: flex;
  flex-direction: column;
}

.formContainer input,
select,
textarea {
  padding: 10px;
  margin: 3px 5px 10px 0px;
  border: 2px solid var(--green);
}

.formGeolocation {
  display: flex;
}

.longitude,
.latitude {
  display: flex;
  flex-direction: column;
}

.regularPrice,
.discountedPrice {
  display: flex;
  align-items: center;
}

small {
  color: var(--red);
  font-style: italic;
  font-size: 12px;
}

.submitButton {
  padding: 8px 20px;
  border: 2px solid #ddd;
  margin: 10px 10px 10px 0;
  background: var(--green);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  .formFirstSection,
  .formSecondSection,
  .formThirdSection {
    margin: 10px 0px;
    padding: 40px;
  }
  .createContent h2 {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .createContainer {
    margin: 10px 30px;
  }
  .formFirstSection,
  .formSecondSection,
  .formThirdSection {
    padding: 20px;
  }
  .createContent h2 {
    font-size: 18px;
  }
}
