.forgotPasswordPageContainer {
  background-image: url("../assets/images/house3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

.forgotPasswordPageContent {
  background: rgba(0, 0, 0, 0.7);
  height: 95vh;
}

.forgotPasswordItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contentBox {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border: 5px solid var(--green);
}

.header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 5px solid var(--green);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer h4 {
  text-align: center;
}

.emailInput {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  margin: 5px 0;
  border: 3px solid var(--green);
}

.resetButton {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  margin: 10px 0px 30px 0px;
  border: 1px solid #aaaaaa;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}

.resetButtonDisabled {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  margin: 10px 0px 15px 0px;
  border: 1px solid #aaaaaa;
  background: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
}

.signIn {
  display: flex;
  justify-content: center;
  color: var(--green);
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .header {
    font-size: 18px;
  }

  .emailInput {
    width: 250px;
  }

  .resetButton,
  .resetButtonDisabled {
    width: 250px;
  }

  .formContainer h4 {
    font-size: 14px;
  }

  .contentBox {
    padding: 30px;
  }
}
