@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #00c9bb;
  --yellow: #fcd200;
  --red: #fe6363;
  --blue: #6650d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
      217deg,
      rgba(35, 34, 60, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(121, 67, 72, 1), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 133, 0.7), rgba(121, 67, 72, 0.2) 70.71%);
}

textarea {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.spinner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.spinnerH2,
.spinnerp {
  color: #666;
}

button {
  cursor: pointer;
}

/*navbar*/
.navContainer {
  border-bottom: 1px solid rgb(147, 147, 147);
}

.gradientOverlay {
  background: linear-gradient(90deg, #b4b4b4, #ffffff);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 1px;
}

.linkContainer {
  @apply text-lightwhite font-semibold uppercase hover:text-white ease-in-out duration-300 ease-in-out duration-300 cursor-pointer;
}
.linkContainerActive {
  @apply text-lightOrange font-semibold uppercase hover:text-orange ease-in-out duration-300 ease-in-out duration-300 cursor-pointer;
}

/*navbar end*/

/*Information*/
.informationContainer {
  @apply flex flex-col space-y-12 justify-around text-center py-8 mx-6 md:flex-row md:space-y-0 md:m-8 md:px-8;
}
.informationContent {
  @apply space-y-1 border-t border-gray pt-6 mx-5 md:border-t-0;
}
.information_h2 {
  @apply text-[20px] font-bold text-white;
}
.information_p {
  @apply text-[14px] text-lightGray pb-4 italic;
}
.information_readContainer {
  @apply w-32 text-sm mx-auto flex justify-center items-center space-x-2 cursor-pointer pt-[10px];
}
.information_span {
  @apply text-lightOrange font-bold text-[16px] hover:text-orange ease-in-out duration-300;
}
.information_icon {
  @apply text-[24px] text-[#FDA50F];
}
.information_icon_arrow {
  @apply text-[24px] text-lightOrange;
}
/*Information End*/

/*Utilities*/
.buttonContainer {
  @apply uppercase  bg-lightOrange text-secondaryBlack hover:text-black hover:bg-orange cursor-pointer py-2 px-4 border border-l-4 border-white  hover:border-white ease-in-out duration-300;
}
.buttonActive {
  @apply uppercase text-[12px] font-semibold bg-lightOrange w-[70px] text-white hover:text-white hover:bg-orange cursor-pointer px-4 py-1 border border-l-4 border-white  hover:border-white ease-in-out duration-300;
}
.buttonInactive {
  @apply uppercase text-[12px] font-semibold bg-gray w-[70px] text-secondaryBlack hover:text-black hover:bg-orange cursor-pointer  px-4 py-1 border border-l-4 border-white  hover:border-white ease-in-out duration-300;
}

.inputContainer {
  @apply border-2 w-[130px] border-lightOrange mt-1 p-[3px];
}
.inputContainerFull {
  @apply border-2 w-full border-lightOrange mt-1 p-[3px] mb-3;
}

.form_icon {
  @apply text-[14px] text-black ml-2;
}
.form_icon_eye {
  @apply text-[14px] text-white mr-2;
}
/*Utilities End*/

/*Google Sign In*/
.googleSignInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleSignInContainer h4 {
  padding-bottom: 5px;
  font-size: 12px;
}
.googleSignInContainer img {
  width: 15%;
  height: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
/*Google Sign In End*/

/*Swiper*/
.swiperSlideDiv {
  min-height: 550px;
  width: 100%;
  margin: auto;
  border: 5px solid #845357;
}

.swiperSlideDivExplore {
  min-height: 500px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.noAvailable {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

/* @media only screen and (max-width: 800px) {
  .swiperSlideDiv {
    min-height: 250px;
  }
  .swiperSlideDivExplore {
    min-height: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .swiperSlideDivExplore {
    min-height: 300px;
  }
} */
@media only screen and (max-width: 600px) {
  .swiperSlideDiv {
    min-height: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .swiperSlideDiv {
    min-height: 250px;
  }
  .swiperSlideDivExplore {
    min-height: 220px;
  }
}
/*Swiper End*/

.profileName {
  font-weight: 600;
  width: 100%;
  border: 3px solid #adabab;
  background: #fff;
  text-decoration: line-through;
  padding: 6px 15px;
  width: 200px;
  margin: 5px 0;
}

.profileNameActive {
  background-color: #fff;
  border: 3px solid var(--green);
  padding: 6px 15px;
  width: 200px;
  margin: 5px 0;
}
